<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Call Scheduler<</title>
</head>

<body>
<h1 align="center">Call Scheduler</h1>
<p>&nbsp;</p>
<p align="center">{{ result }}</p>
<form id="form2" name="form2" method="post" action="/Create" >
    <input type="text" name="numberInput" value="Enter Phone Number Here" size="50"  align="center"/>
 	<input type="submit" name="button" id="button" value="Submit"/>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>